.next-match {
  &__container {
    background: linear-gradient(rgba(10, 25, 161, 0.3), rgba(12, 34, 232, 0.3)),
      url("../../../../assets/images/homeScores/home-scores.png") center/cover;
    grid-column: col-start 7 / tram-end;
    @media only screen and (max-width: 94em) {
      grid-column: col-start 7 / full-end;
    }
    @media only screen and (max-width: 62.5em) {
      grid-column: full-start / full-end;
    }
  }
  &__badge--blue {
    width: 8rem;
  }
  &__badge--eagle {
    width: 8rem;
    margin-bottom: 4rem;
  }
  &__score {
    margin-bottom: 4rem;
  }
}

.fixture {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 5vh;
    @media only screen and (max-width: 62.5em) {
      padding-bottom: 2vh;
    }
  }
  &__score {
    padding: 0 2vw;
    color: var(--color-grey-1);
    @media only screen and (max-width: 94em) {
      padding: 0 0.5vw;
    }
    @media only screen and (max-width: 62.5em) {
      padding: 0 5vw;
    }
  }
  &__title {
    padding: 2vh 0 2vh 1vw;
    @media only screen and (max-width: 62.5em) {
      padding: 2rem;
    }
  }
  &__club--name {
    margin-top: 1vh;
    color: var(--color-grey-1);
    font-weight: bold;
  }
}
