.shop-input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  &__label {
    color: var(--color-grey-1);
    margin-right: 1rem;
    font-weight: bold;
    @media screen and (max-width: 20em) {
      margin-right: 0.5rem;
    }
  }
  &__input {
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 0.5rem;
  }
}
