// CULTURE MAIN CONTAINER
.culture-container {
  display: grid;
  /* comments for the grid-template-rows */
  grid-template-rows: calc(100vh - 16rem) min-content;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  @media only screen and (max-width: 87.5em) {
    grid-template-rows: min-content min-content;
  }
}

.culture-form {
  &__container {
    background-image: linear-gradient(
      to right bottom,
      rgba(10, 25, 161, 1),
      rgba(12, 34, 232, 0.8)
    );
    display: grid;
    grid-column: full-start / full-end;
    justify-items: center;
    align-items: center;
    height: min-content;
    max-width: 100%;
  }
}
