.faq {
  &__container {
    display: grid;
    grid-template-columns: [full-start] 10vw [tram-start] 1fr [tram-end] 10vw [full-end];
  }
  &__section {
    grid-column: tram-start / tram-end;
    min-height: calc(100vh - 16rem);
    background-color: var(--color-grey-3);
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
  }
  &__header {
    padding: 7vh 0 0;
    text-align: center;
  }
  &-container {
    max-width: 800px;
    margin: 0 auto;
  }
}

.faq-box {
  border: 0.2rem solid var(--color-primary-dark);
  position: relative;
  overflow: hidden;
  /* want smooth transition when open / close or expand and collapse */
  transition: 0.3s ease;
  margin: 6rem auto;
  padding: 6rem;
  cursor: pointer;
  @media only screen and (max-width: 125em) {
    margin: 4rem auto;
    padding: 4rem;
  }
  @media only screen and (max-width: 50em) {
    margin: 4rem;
  }
  &.active {
    background-color: white;
  }
  &__text {
    display: none;
  }
}

.faq-box.active .faq-box__text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  z-index: 5;
}

.faq-box .faq-toggle {
  &__times {
    display: none;
  }
}

/* provide x button if its active */
.faq-box.active .faq-toggle {
  &__times {
    color: var(--color-grey-1);
    display: block;
  }
}

/* remove the chevron if its active */
.faq-box.active .faq-toggle {
  &__chevron-down {
    display: none;
  }
}

/* give active toggle a background */
.faq-box.active .faq-toggle {
  background-color: var(--color-grey-2);
}
