.history-container {
  display: grid;
  grid-template-rows: min-content min-content 100rem min-content;
  grid-template-columns:
    [full-start] 10vw [tram-start] minmax(8rem, 1fr) [center-start] repeat(
      10,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [tram-end] 10vw [full-end];
  @media screen and (max-width: 125em) {
    grid-template-rows: 65vh min-content min-content min-content;
  }
}
