#contacts {
  max-width: 160rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  @media only screen and (max-width: 94em) {
    max-width: 100rem;
    flex-direction: column;
  }
}

.contact {
  display: grid;
  grid-column: tram-start / tram-end;
  padding: 7vh;
  background-color: var(--color-secondary);
  color: var(--color-grey-1);
  @media only screen and (max-width: 94em) {
    grid-column: full-start / full-end;
  }
  @media only screen and (max-width: 20em) {
    padding: 2vh;
  }
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(#0c22e8, #0a19a1);
    color: var(--color-grey-1);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 2px 20px rgba(143, 87, 239, 0.2);
    transition: all 0.2s;
    min-width: 33%;
  }
}

.contact-list:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgba(244, 240, 240, 0.4);
}
