.players {
  &__container {
    grid-column: tram-start / col-end 4;
    background: linear-gradient(to bottom, #0c22e8, #0a19a1);
    overflow: hidden;
    padding: 3vh;
    display: flex;
    align-items: center;
    height: 40vh;
    @media screen and (max-width: 125em) {
      height: 60vh;
    }
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
      height: min-content;
      flex-direction: column;
    }
    @media screen and (max-width: 62.5em) {
      padding: 5rem;
    }
    &-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    color: var(--color-grey-2);
    margin-bottom: 1vh;
  }
  &__list {
    display: grid;
    /* min-content for the img, max content for the text */
    grid-template-columns: min-content max-content;
    /* spacing */
    grid-column-gap: 20px;
    grid-row-gap: 2vh;
    align-items: center;
    @media screen and (max-width: 94em) {
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media screen and (max-width: 62.5em) {
      grid-template-columns: min-content max-content;
    }
  }
  &__img {
    width: 7.5vh;
    border-radius: 50%;
    display: block;
    @media screen and (max-width: 37.5em) {
      width: 8vh;
    }
  }
  &__stats {
    color: var(--color-grey-2);
    text-transform: uppercase;
    margin-top: -3px;
  }
  &__striker {
    width: 20vh;
    @media screen and (max-width: 125em) {
      width: 25rem;
    }
  }
  &__shape {
    border-left: 100px solid rosybrown;
    border-left: 100px solid royalblue;
    border-left: 100px solid lightblue;
    border-left: 100px solid lightgreen;
  }
}
