.latest-container {
  display: grid;
  grid-template-columns:
    [full-start] 10vw [tram-start] minmax(8rem, 1fr) [center-start] repeat(
      10,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(8rem, 1fr) [tram-end] 10vw [full-end];
  grid-template-rows: 60vh min-content;
  @media only screen and (max-width: 94em) {
    grid-template-rows: min-content min-content;
  }
}
