.my-club {
  &__container {
    color: var(--color-grey-1);
    display: grid;
    /* comments for the grid-template-rows */
    grid-template-rows: min-content max-content min-content;
    position: relative;
    grid-template-columns:
      [full-start] 10vw [tram-start] minmax(8rem, 1fr) [center-start] repeat(
        10,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(8rem, 1fr) [tram-end] 10vw [full-end];
  }
}

.expenses-content {
  grid-column: center-start / center-end;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 7vh;
  @media only screen and (max-width: 87.5em) {
    grid-column: full-start / full-end;
  }
  @media only screen and (max-width: 20em) {
    padding: 2vh;
  }
  &__description {
    color: var(--color-secondary);
  }
}
