.progress-bars {
  &__container {
    grid-column: center-start / center-end;
    text-align: center;
    padding: 7vh 0;
    @media screen and (max-width: 125em) {
      padding: 7vh 10vw;
    }
    @media screen and (max-width: 62.5em) {
      grid-column: full-start / full-end;
      padding: 7vh 4rem;
    }
  }
  &__list-item {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__description {
    color: var(--color-secondary);
  }
  &__label-input {
    display: inline-block;
    margin-right: 0.5rem;
  }
  &__input {
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
  }
}
