.progress-bars {
  &__container {
    grid-column: full-start / full-end;
    margin: auto;
    text-align: center;
    padding: 7vh;
  }
  &__label-input {
    display: inline-block;
    margin-right: 0.5rem;
  }
  &__input {
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
  }
}
