.available-items {
  animation: items-appear 1s ease-out forwards;
  width: 100vw;
  display: flex;
  justify-content: center;
  &__list {
    list-style: none;
    color: var(--color-grey-1);
    background-color: var(--color-secondary);
    width: 60vw;
    padding: 2rem;
    @media screen and (max-width: 62.5em) {
      width: 100vw;
      padding: 1rem;
    }
    @media screen and (max-width: 20em) {
      padding: 0;
    }
  }
}

@keyframes items-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
