.available-items {
  animation: items-appear 1s ease-out forwards;
  width: 100vw;
  display: flex;
  justify-content: center;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-grey-1);
    background-color: var(--color-secondary);
  }
}

@keyframes items-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
