.items-summary {
  &__container {
    width: 100vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  &__content {
    text-align: center;
    background-color: var(--color-primary-dark);
    color: var(--color-grey-1);
    height: min-content;
    width: 60vw;
  }
  &__title {
    margin: 2rem;
  }
}
