.items-summary {
  &__container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  &__content {
    text-align: center;
    padding: 2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-grey-1);
    height: min-content;
    width: 60vw;
    @media screen and (max-width: 62.5em) {
      width: 100vw;
    }
  }
}
