.history-founder {
  &__container {
    grid-column: full-start / col-end 4;
    background-color: var(--color-grey-3);
    @media screen and (max-width: 62.5em) {
      grid-column: full-start / full-end;
    }
  }
  &__content {
    background-color: var(--color-grey-1);
    padding: 3vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgb(168, 162, 162, 0.6);
    margin: 5vh;
    @media screen and (max-width: 37.5em) {
      margin: 2vh;
      padding: 2vh;
    }
  }
  &__title {
    padding: 2rem 0 0;
    border-top: 1px solid var(--color-grey-2);
  }
  &__list {
    list-style: none;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    &--item {
      /* don't grow, don't shrink, then width 50%, 
      we want to have two elements side by side */
      flex: 0 0 50%;
      margin-bottom: 0.7rem;
      @media screen and (max-width: 37.5em) {
        flex: 0 0 100%;
      }
    }
    &--item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      background-image: url("../../../assets/svg/chevron-thin-right.svg");
      background-size: cover;
    }
  }
}
