.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: var(--color-secondary);
  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: start;
    margin: 0 2rem;
    column-gap: 2rem;
    @media screen and (max-width: 37.5em) {
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }
  }
  &__title {
    color: white;
    @media screen and (max-width: 37.5em) {
      flex: 1;
      margin: 0 1rem;
      text-align: center;
    }
  }
  &__price {
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: var(--color-secondary);
    border: 1px solid white;
    border-radius: 12px;
  }
}
