.progress {
  &-content {
    background-color: var(--color-grey-1);
  }
  &-container {
    display: flex;
    justify-content: space-between;
    /* */
    position: relative;
    margin-bottom: 3rem;
    max-width: 100%;
    width: 600px;
  }
}
