.headline-cards {
  &__section {
    grid-column: col-start 4 / full-end;
    background-color: var(--color-grey-3);
    padding: 5vh;
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    /* perspective has to be defined on the parent */
    perspective: 150rem;
    -moz-perspective: 150rem;
    &:hover &--side {
      transform: rotateY(180deg);
    }
    &--side {
      background-color: red;
      color: #fff;
      font-size: 2rem;
      width: 30rem;
      height: 50rem;
      cursor: pointer;
      transition: all 1s;
    }
  }
}
