.headline-cards {
  &__section {
    grid-column: col-start 5 / tram-end;
    background-color: var(--color-grey-3);
    padding: 5vh;
    height: 55vh;
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
      height: 60vh;
    }
    @media screen and (max-width: 37.5em) {
      height: 195vh;
      padding: 2vh;
    }
  }
  &__col {
    width: calc((100% - 1 * 2rem) / 3);
    @media screen and (max-width: 37.5em) {
      width: 100%;
      height: calc((100% - 1 * 2rem) / 3);
    }
    &--1 {
      margin-right: 1rem;
      @media screen and (max-width: 37.5em) {
        margin: 0;
      }
    }
    &--3 {
      margin-left: 1rem;
      @media screen and (max-width: 37.5em) {
        margin: 0;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (max-width: 37.5em) {
      flex-direction: column;
      height: 195vh;
    }
  }
  &__card {
    /* perspective has to be defined on the parent */
    /* lower value, more volatile the effect, hence 150rem for perspective */
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    &-side {
      font-size: 2rem;
      height: 45vh;
      width: 100%;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: all 1s ease;
      @media screen and (max-width: 94em) {
        height: 50vh;
      }
      @media screen and (max-width: 37.5em) {
        height: 60vh;
      }
      &--front {
        background-color: var(--color-grey-1);
      }
      &--back {
        transform: rotateY(180deg);
        color: var(--color-grey-1);
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        background-image: linear-gradient(
          to right bottom,
          rgb(10, 25, 161),
          rgba(12, 34, 232)
        );
      }
    }
    &:hover &-side--front {
      transform: rotateY(-180deg);
    }
    &:hover &-side--back {
      transform: rotateY(0);
    }
    /* Front side styling */
    &--picture {
      background-size: cover;
      height: 15rem;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      @media screen and (max-width: 94em) {
        height: 16rem;
      }
      @media screen and (max-width: 62.5em) {
        height: 17rem;
      }
      @media screen and (max-width: 50em) {
        height: 19rem;
      }
      @media screen and (max-width: 37.5em) {
        height: 22rem;
      }
      &--1 {
        background-image: linear-gradient(
            to right bottom,
            rgb(10, 25, 161),
            rgb(16, 29, 44)
          ),
          url("../../../assets/images/latestCards/player-stadium.png");
      }
      &--2 {
        background-image: linear-gradient(
            to right bottom,
            rgb(10, 25, 161),
            rgb(16, 29, 44)
          ),
          url("../../../assets/images/latestCards/corner-flag.png");
      }
      &--3 {
        background-image: linear-gradient(
            to right bottom,
            rgb(10, 25, 161),
            rgb(16, 29, 44)
          ),
          url("../../../assets/images/latestCards/player-flag.png");
      }
    }
    &--heading {
      position: absolute;
      top: 9rem;
      right: 2rem;
      text-align: right;
      width: 85%;
      @media screen and (max-width: 94em) {
        top: 12rem;
      }
      @media screen and (max-width: 62.5em) {
        top: 13rem;
      }
      @media screen and (max-width: 37.5em) {
        top: 18rem;
      }
      @media screen and (max-width: 20em) {
        top: 15rem;
      }
    }
    &--details {
      padding: 3rem;
      height: 15rem;
      @media screen and (max-width: 94em) {
        padding: 2rem;
      }
      @media screen and (max-width: 20em) {
        padding: 0.5rem;
      }
    }
  }
  &__span {
    padding: 0.5rem;
    line-height: 1.8;
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(12, 34, 232, 0.9),
        rgba(10, 25, 161, 0.9)
      );
    }
    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(12, 34, 232, 0.9),
        rgba(10, 25, 161, 0.9)
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(12, 34, 232, 0.9),
        rgba(10, 25, 161, 0.9)
      );
    }
  }
  &__list {
    list-style: none;
    &--item {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid #aba3a3;
      }
    }
  }
}
