.nav {
  &__container {
    /* ensure the background-color of the overall bar is grey */
    background-color: var(--color-grey-1);
    /* make second nav a grid */
    display: grid;
    /* ensure second nav is full width across the page */
    grid-column: full-start / full-end;
  }
  &__badge {
    /* take the first column of the second nav grid */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* width of badge */
    width: 7rem;
    /* height of the badge */
    height: 8rem;
    /* set margin from edge of page */
    margin: 1rem;
  }
  /* inner being the links and the hamburger menu */
  &__content {
    /* content being list and menu toggle */
    grid-column: 2 / 10;
    display: grid;
    /* align list items vertically in middle */
    align-content: center;
    @media only screen and (max-width: 62.5em) {
      /* make navbar from beginning to end on smaller devices so can center it */
      grid-column: 1 / 10;
      /* ensure the links don't push too far down the page on smaller viewports */
      grid-row: 1 / 2;
      /* put the list above the rest of content */
      z-index: 3;
      /* make z-index value work*/
      position: relative;
      /* hide the links from view on smaller viewports if hamburger isn't clicked */
      opacity: 0;
      /* links will be present if width is not 0 */
      width: 0;
      transition: all 0.8s;
    }
  }
  &__list {
    display: grid;
    /* align items on page horizontally */
    justify-items: center;
    /* organise list items in columns with a minimum width of 10rem, max width 1fr */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    /* get rid of bullet points */
    list-style: none;
    /* ensure font is right font for titles */
    font-family: var(--font-display);
    @media only screen and (max-width: 62.5em) {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
    }
  }
  &__link {
    transition: 0.5s;
    position: relative;
    padding: 0.5rem;
    text-transform: uppercase;
    /* get rid of list bullet points */
    text-decoration: none;
    font-size: 1.8rem;
    /* blue on the grey background for desktop */
    color: var(--color-primary-dark);
    /* create top and bottom borders that move towards the link when we hover over it, using the before
    pseudo element. */
    &:hover {
      color: var(--color-grey-1);
      z-index: 2;
      @media only screen and (max-width: 62.5em) {
        color: var(--color-primary);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scaleY(2);
      transition: 0.5s;
      border-top: 0.1rem solid var(--color-primary-dark);
      border-bottom: 0.1rem solid var(--color-primary-dark);
      @media only screen and (max-width: 62.5em) {
        border-top: 0.1rem solid var(--color-grey-1);
        border-bottom: 0.1rem solid var(--color-grey-1);
      }
    }
    &:hover::before {
      transform: scaleY(1.2);
      opacity: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-dark);
      transition: 0.5s;
      transform: scale(0);
      /* want the white color text in front of the blue background */
      z-index: -1;
      @media only screen and (max-width: 62.5em) {
        background-color: var(--color-grey-1);
      }
    }
    &:hover::after {
      transform: scale(1);
    }
    @media only screen and (max-width: 62.5em) {
      /* links font size increase */
      font-size: 4rem;
      /* smaller devices - blue background - so links need to be white */
      color: var(--color-grey-1);
    }
  }

  // Hamburger menu
  &__checkbox {
    /* checkbox hack - hide checkbox tick for the hamburger menu */
    display: none;
  }

  &__button {
    @media only screen and (max-width: 62.5em) {
      /* only want to display the hamburger icon on smaller devices */
      display: flex;
      /* needs to be at the top above background on transform and general content */
      z-index: 4;
      background-color: var(--color-primary-dark);
    }
    /* put it to the right on the viewport */
    grid-column: 9 / 10;
    grid-row: 1 / 2;
    /* hide hamburger on larger viewports */
    display: none;
    /* set margin from edge of page */
    margin: 1rem;
    /*set width and height of hamburger */
    width: 8rem;
    height: 8rem;
    border: none;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    // this will align everything horizontally
    /* WHY? - remember the flex-direction has now been set as column so align-items will now be horizontally */
    align-items: center;
    // this will align everything vertically
    /* WHY? - remember the flex-direction has now been set as column so justify-content will now be vertically */
    justify-content: center;
    background-color: var(--color-primary);
    position: relative;
    /* move toggle to the end horizontally*/
    justify-self: end;

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
  &__background {
    @media only screen and (max-width: 62.5em) {
      /* make background visible rather than not with display none on smaller devices */
      display: flex;
      /* push the background to end of the container horizontally */
      justify-self: end;
    }
    // put the background in same place as the button
    grid-column: 9 / 10;
    grid-row: 1 / 2;
    display: none;
    /* make slightly smaller than the actual button with a slightly bigger margin */
    margin: 1.5rem;
    height: 6rem;
    width: 6rem;
    background-image: radial-gradient(
      var(--color-primary),
      var(--color-grey-2)
    );
    /* needs to be be above general content but below the hamburger 
      - remember z-index: 2 for navigation buttons on slider */
    z-index: 3;
    transition: transform 0.8s;
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    /* scale the background on click - sibling of checkbox - background */
    transform: scale(120);
  }

  &__checkbox:checked ~ &__content {
    /* when click on checkbox - want sibling element content (i.e. the links be visible cause opacity and width was set as 0) */
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      /* dimensions for lines on the hamburger menu */
      width: 4rem;
      height: 2px;
      background-color: var(--color-grey-1);
      display: flex;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      /* move the before element up vertically hence minus rem */
      top: -1.2rem;
    }
    &::after {
      /* move the after element down vertically hence positive rem */
      top: 1.2rem;
    }
  }

  &__button:hover &__icon::before {
    /* effects on hover - moving the lines closer to the middle span */
    top: -0.8rem;
  }

  &__button:hover &__icon::after {
    /* effects on hover - moving the lines closer to the middle span */
    top: 0.8rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
