.last-match {
  &__container {
    background: linear-gradient(to right, #ededf1, #dad5d5);
    grid-column: tram-start / col-end 2;
    @media only screen and (max-width: 62.5em) {
      grid-column: full-start / full-end;
      background: linear-gradient(to bottom, #ededf1, #dad5d5);
    }
  }
}
