.last-match {
  &__container {
    background: linear-gradient(rgba(10, 25, 161, 0.3), rgba(12, 34, 232, 0.8)),
      url("../../../../assets/images/homeScores/home-scores.png") center/cover;
    grid-column: tram-start / col-end 2;
    @media only screen and (max-width: 94em) {
      grid-column: full-start / col-end 2;
    }
    @media only screen and (max-width: 62.5em) {
      grid-column: full-start / full-end;
    }
  }
  &__badge--blue {
    width: 8rem;
  }
  &__badge--crimson {
    width: 8rem;
  }
}
