.news-section {
  display: grid;
  grid-column: tram-start / tram-end;
  padding: 7vh 2vw;
  width: 100%;
  @media only screen and (max-width: 94em) {
    grid-column: full-start / full-end;
  }
  @media only screen and (max-width: 87.5em) {
    padding: 7vh 2vw;
  }
  @media only screen and (max-width: 37.5em) {
    padding: 4vh;
  }
  &__title {
    text-align: center;
  }
}

.news-card {
  &__container {
    display: grid;
    //
    /* repeat(auto-fit, ...) is used to create a repeating pattern of grid tracks (columns or rows) 
    based on the available space in the container. */
    /* auto-fit keyword tells the grid to automatically adjust the number of tracks to fit the 
    container's width, while maintaining the specified track size. */
    //
    /* minmax(25rem, 1fr) is a function used to define the size range of each grid track. 
    In this case, it specifies that the track should be at least 25rem (a unit of length in CSS, 
    equivalent to 25 times the size of the root font) wide but can grow (1fr) to take up available space, 
    up to the constraints of the grid container. */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
    @media screen and (max-width: 50em) {
      min-height: 50vh;
    }
  }
  &__content {
    background-image: linear-gradient(
      to bottom,
      var(--color-grey-2),
      var(--color-grey-3)
    );
    border-radius: 1rem 1rem 0 0;
  }
  &__text {
    @media only screen and (max-width: 37.5em) {
      min-height: 40vh;
    }
    @media only screen and (max-width: 20em) {
      min-height: 52vh;
    }
  }
  &__img-div {
    height: 20vh;
    overflow: hidden;
    background-color: var(--color-grey-1);
    display: flex;
    justify-content: center;
    @media screen and (max-width: 50em) {
      height: 25vh;
    }
  }
  &__image {
    width: 100%;
    min-height: 20vh;
    transition: transform 1s;
    @media screen and (max-width: 50em) {
      height: 25vh;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__heading {
    padding: 0 2rem;
    color: var(--color-primary-dark);
    text-align: center;
    height: 7vh;
    @media screen and (max-width: 62.5em) {
      margin-bottom: 1rem;
      height: 4vh;
    }
    @media screen and (max-width: 37.5em) {
      margin-bottom: 2rem;
      padding: 0 0.5rem;
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
    padding: 2rem;
    @media only screen and (max-width: 37.5em) {
      min-height: 40vh;
    }
    @media only screen and (max-width: 20em) {
      min-height: 52vh;
    }
  }
  &__description {
    font-size: 1.4rem;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: var(--color-primary-dark);
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__topic {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--color-primary-dark);
    font-weight: bold;
  }
  &__date {
    font-size: 1.3rem;
  }
}
