.progress {
  &-content {
    background-color: var(--color-grey-1);
    height: 30rem;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    z-index: 2;
  }
  &-container {
    /* display flex -> go in a row */
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* position relative, so we can position others inside it absolute */
    position: relative;
    margin: 15rem auto 5rem;
    max-width: 100%;
    width: 350px;

    &::before {
      content: "";
      background-color: var(--line-border-empty);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 100%;
      z-index: 3;
    }
  }

  background-color: var(--color-primary-dark);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  /* make the line in the middle vertically */
  transform: translateY(-50%);
  z-index: 3;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--line-border-empty);
  transition: 0.4s ease;
  z-index: 4;
  font-size: 1.6rem;
  &.active {
    border-color: var(--color-primary-dark);
  }
}

.button-progress {
  margin: 0 2rem;
}
