.slide-unlock {
  &__container {
    width: 100vw;
    overflow-x: hidden;
    height: calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  &__title {
    position: absolute;
    top: 70vh;
    padding: 0 10vw;
    text-align: center;
  }
  &__icon {
    position: absolute;
    top: 80vh;
    font-size: 8rem;
    color: var(--color-primary);
    //color: rgba(240, 240, 240, 0.3);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.2s;
    &:hover {
      // color: var(--color-grey-1);
      color: var(--color-primary-dark);
    }
  }
}
