.gallery {
  &__content {
    grid-column: tram-start / tram-end;
    background-color: var(--color-grey-3);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
  }
  &__item {
    &--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    &--2 {
      grid-row: 1 / span 2;
      grid-column: 2 / span 2;
    }
    &--3 {
      grid-row: 1 / span 2;
      grid-column: 4 / span 2;
    }
    &--4 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7;
    }
    &--5 {
      grid-row: 1 / span 2;
      /* remember -1 = the end */
      grid-column: 7 / -1;
    }
    &--6 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    &--7 {
      grid-row: 3 / span 2;
      grid-column: 4 / span 2;
    }
    &--8 {
      grid-row: 3 / 7;
      grid-column: 6 / span 2;
    }
    &--9 {
      grid-row: 3 / span 2;
      grid-column: 8 / -1;
    }
    &--10 {
      grid-row: 3 / span 2;
      grid-column: 1 / 2;
    }
    &--11 {
      grid-row: 5 / span 3;
      grid-column: 1 / span 3;
    }
    &--12 {
      grid-row: 3 / span 2;
      grid-column: 2 / span 2;
    }
    &--13 {
      grid-row: 5 / 6;
      grid-column: 4 / 5;
    }
    &--14 {
      grid-row: 5 / 6;
      grid-column: 5 / 6;
    }
    &--15 {
      grid-row: 6 / span 2;
      grid-column: 4 / span 2;
    }
    &--16 {
      grid-row: 7 / 8;
      grid-column: 6 / span 2;
    }
    &--17 {
      background-color: var(--color-grey-1);
      grid-row: 5 / span 2;
      grid-column: 8 / -1;
    }
    &--18 {
      grid-row: 7 / -1;
      grid-column: 8 / -1;
    }
  }
  &__img {
    /* if image is not block -> is treated like an inline element like text */
    display: block;
    height: 100%;
    width: 100%;
    /* add it on the image. Need to manually set width & height */
    object-fit: cover;
  }
}
