.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 2rem;
  margin: 2vh;
  border: 1px solid #ccc;
  background-color: var(--color-grey-1);
  max-width: min-content;
}

.form-group {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

label {
  color: var(--color-secondary);
}

input,
textarea {
  width: 40vw;
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  @media only screen and (max-width: 62.5em) {
    width: 30rem;
  }
  @media only screen and (max-width: 20em) {
    width: 20rem;
  }
}

.submit-button {
  justify-self: end;
}
