.culture-form {
  &__container {
    background-color: linear-graiet (to right botton, );
    display: grid;
    grid-column: full-start / full-end;
    justify-items: center;
    align-items: center;
    height: min-content;
    max-width: 100%;
  }
}
