.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  max-width: 400px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  justify-self: end;
  cursor: pointer;
}
