.culture-form {
  &__content {
    padding: 7vh;
  }
  &__header {
    text-align: center;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 2rem;
  margin: 2vh;
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(10, 25, 161, 0.9) 60%
    ),
    url("../../assets/images/graffiti/mural.png");
  background-size: cover;
  box-shadow: 0 1.5 4rem rgba(#000, 0.15);
  border-radius: 6px;
  max-width: min-content;
}

.form-group {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

input,
textarea {
  width: 40vw;
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  @media only screen and (max-width: 62.5em) {
    width: 30rem;
  }
  @media only screen and (max-width: 20em) {
    width: 20rem;
  }
}
