.history-text {
  &__container {
    background-color: var(--color-secondary);
    height: min-content;
    grid-column: tram-start / tram-end;
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
  }
  &__content {
    padding: 7vh;
  }
  &__two-column {
    color: var(--color-grey-1);
    display: flex;
    margin-bottom: 1rem;
    @media screen and (max-width: 94em) {
      flex-direction: column;
    }
  }
  &__description {
    width: 50%;
    @media screen and (max-width: 94em) {
      width: 100%;
    }
  }
  &__dates {
    margin-bottom: 0.5rem;
    & span {
      max-width: min-content;
    }
  }
}
