.lock-slider {
  position: absolute;
  top: 20rem;
  z-index: 2;
  &::-webkit-slider-thumb {
    appearance: none;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: 0.2rem solid var(--color-grey-1);
    background: var(--color-primary-dark);
    &:hover {
      transform: scale(1.1);
    }
  }
}

.lock-slider::-webkit-slider-thumb:active {
  background: var(--color-primary);
}
