.slide-unlock {
  &__container {
    grid-column: full-start / col-end 4;
    overflow-x: hidden;
    height: calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media screen and (max-width: 62.5em) {
      width: 100vw;
      grid-column: full-start / full-end;
    }
  }
  &__title {
    position: absolute;
    top: 7vh;
    padding: 0 10vw;
    text-align: center;
    @media screen and (max-width: 62.5em) {
      top: 4vh;
    }
  }
  &__icon {
    position: absolute;
    top: 65vh;
    font-size: 8rem;
    color: var(--color-secondary);
    //color: rgba(240, 240, 240, 0.3);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.2s;
    &:hover {
      // color: var(--color-grey-1);
      color: var(--color-primary-dark);
    }
  }
}
