.slide-unlock {
  &__container {
    grid-column: tram-start / col-end 5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 75vh;
    @media screen and (max-width: 125em) {
      height: calc(100vh - 16rem);
    }
    @media screen and (max-width: 94em) {
      width: 100vw;
      grid-column: full-start / full-end;
    }
  }
  &__title {
    position: absolute;
    top: 7vh;
    padding: 0 10vw;
    text-align: center;
    @media screen and (max-width: 94em) {
      top: 4vh;
    }
  }
  &__icon {
    z-index: 2;
    position: absolute;
    font-size: 8rem;
    color: var(--color-secondary);
    //color: rgba(240, 240, 240, 0.3);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.2s;
    top: 65vh;
    @media screen and (max-width: 94em) {
      top: 60vh;
    }
    @media screen and (max-width: 37.5em) {
      top: 55vh;
    }
    &:hover {
      // color: var(--color-grey-1);
      color: var(--color-primary-dark);
    }
  }
}
