.story-item {
  &__card {
    position: relative;
    width: 45rem;
    min-height: 55vh;
    background: var(--color-grey-1);
    transition: 0.5s;
    cursor: pointer;
    @media screen and (max-width: 37.5em) {
      max-width: 90vw;
    }
    @media screen and (max-width: 25em) {
      min-height: 70vh;
    }
  }
  &__heading {
    color: var(--color-grey-1);
  }
  &__paragraph {
    color: var(--color-grey-1);
    text-align: center;
  }
  &__face {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2vw;
    background-color: var(--color-secondary);
    border: 0.2rem solid var(--color-grey-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: min-content;
  }
}

.face1 {
  display: flex;
  flex-direction: column;
  padding: 10vh 2rem 5vh;
}

.face2 {
  background-color: var(--color-primary-dark);
  transition: 2s ease;
}

.face2 h2 {
  transition: 0.5s;
}

.story-item__card:hover .face2 {
  width: min-content;
  height: 5rem;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 0.2rem solid var(--color-grey-1);
}
