.story-item {
  &__card {
    position: relative;
    width: 30rem;
    min-height: 50vh;
    background: var(--color-grey-1);
    transition: 0.5s;
    cursor: pointer;
  }
  &__heading {
    color: var(--color-grey-1);
  }
  &__paragraph {
    color: var(--color-grey-1);
  }
  &__face {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2vw;
    background-color: var(--color-secondary);
    border: 0.2rem solid var(--color-grey-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: min-content;
  }
}

.face1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}

.face2 {
  background-color: var(--color-primary-dark);
  transition: 2s ease;
}

.face2 h2 {
  transition: 0.5s;
}

.story-item__card:hover .face2 {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 0.2rem solid var(--color-grey-1);
}
