.notable-stories {
  &__container {
    background-color: var(--color-grey-2);
    grid-column: tram-start / col-start 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
  }
  &__review {
    background-color: var(--color-grey-1);
    padding: 3vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 5px rgb(168, 162, 162, 0.6);
    overflow: hidden;
    @media screen and (max-width: 37.5em) {
      padding: 2vh;
    }
    &::before {
      content: "\201C";
      position: absolute;
      top: -4vh;
      left: 0vw;
      line-height: 1;
      overflow: hidden;
      font-size: 30rem;
      color: var(--color-grey-2);
      opacity: 0.6;
      font-family: sans-serif;
      z-index: 1;
    }
    &--1 {
      margin: 5vh;
      @media screen and (max-width: 20em) {
        margin: 2vh;
      }
    }
    &--2 {
      margin: 0 5vh 5vh;
      @media screen and (max-width: 20em) {
        margin: 0 2vh 2vh;
      }
    }
    &-text {
      margin: 2vh 0;
      position: relative;
      z-index: 2;
      @media only screen and (max-width: 87.5em) {
        margin-bottom: 2vh;
      }
    }
    &-content {
      display: flex;
      align-items: center;
      margin: 0 2vh;
      @media screen and (max-width: 37.5em) {
        margin: 0;
      }
    }
    &-image {
      height: 7vh;
      width: 7vh;
      border-radius: 50%;
      border: 0.2rem solid var(--color-primary-dark);
      margin-right: 1.5rem;
      @media screen and (max-width: 20em) {
        height: 10vh;
        width: 10vh;
      }
    }
    &-box {
      margin-right: auto;
      width: 40%;
    }
    &-player {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.4rem;
      @media screen and (max-width: 20em) {
        font-size: 1.2rem;
      }
    }
    &-date {
      font-size: 1.5rem;
    }
    &-position {
      font-size: 2.5rem;
      color: var(--color-primary-dark);
      @media screen and (max-width: 20em) {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}
