.expenses {
  background-image: linear-gradient(
    105deg,
    rgba(10, 25, 161, 0.1) 0%,
    rgba(10, 25, 161, 0.9) 90%
  );
  border-radius: 6px;
  max-height: min-content;
  width: 60rem;
  margin: 0 auto;
  @media only screen and (max-width: 37.5em) {
    max-width: 90vw;
  }
}
