.new-expense__form {
  width: 100%;
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
  max-width: 70%;
  @media only screen and (max-width: 37.5em) {
    max-width: 100%;
  }
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

// text aligning my button to the right
.new-expense__actions {
  margin-top: 2rem;
  text-align: right;
  @media only screen and (max-width: 37.5em) {
    text-align: center;
  }
}

.new-expense__cancel {
  @media screen and (max-width: 37.5em) {
    margin-right: 1rem;
  }
  @media screen and (max-width: 20em) {
    margin-bottom: 1rem;
  }
}
