.new-expense {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(10, 25, 161, 0.9) 80%
    ),
    url("../../../assets/images/banners/training-top.png");
  border-radius: 6px;
  padding: 2rem;
  margin: 2vh auto;
  text-align: center;
  width: 60rem;
  @media only screen and (max-width: 37.5em) {
    max-width: 90vw;
  }
}
