.new-expense {
  background-image: linear-gradient(
      105deg,
      rgba(253, 253, 253, 0.7) 0%,
      rgba(10, 17, 102, 0.9) 100%
    ),
    url("../../../assets/images/banners/training-top.png");
  border-radius: 6px;
  padding: 2rem;
  margin: 2vh auto;
  text-align: center;
  width: 80rem;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 37.5em) {
    max-width: 90vw;
  }
}
