* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  line-height: 1.6;
  min-height: 100vh;
}

:root {
  font-family: "Nunito", sans-serif;
  font-size: 16px;

  color: var(--color-secondary);
  background-color: var(--color-primary-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  /* Background colors */
  --color-primary: #0c22e8; /* Brighter blue */
  --color-primary-dark: #0a19a1; /* Blue */

  /* Secondary color for various usages */
  --color-secondary: #101d2c;

  /* Font colors */
  --color-grey-1: #f9f7f6;
  --color-grey-2: #aaa;

  --bp-largest: 87.5em;
  --bp-large: 62.5em;
  --bp-medium: 50em;
  --bp-small: 37.5em;
}
