.shop-header {
  grid-column: full-start / full-end;
  &__content {
    width: 100vw;
    height: min-content;
    background-color: var(--color-secondary);
    color: var(--color-grey-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;
  }
  &__title {
    @media screen and (max-width: 50em) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 25em) {
      font-size: 2rem;
    }
  }
  &__image--content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 60vw;
    @media screen and (max-width: 62.5em) {
      width: 100vw;
    }
  }
}
