.shop-header {
  &__content {
    width: 100vw;
    height: min-content;
    background-color: var(--color-secondary);
    color: var(--color-grey-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;
    position: relative;
  }
  &__image--content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 65vw;
    @media screen and (max-width: 62.5em) {
      width: 100vw;
    }
  }
  &__icon {
    transform: translateY(0.2vh);
    padding-right: 1vw;
    color: var(--color-grey-1);
    font-size: 2rem;
  }
}
