.shop-cart {
  &__button:hover {
    background-color: var(--color-primary-dark);
  }
  &__icon {
    transform: translateY(0.2vh);
    margin-right: 1rem;
    color: var(--color-grey-1);
    font-size: 2rem;
  }
  &__text {
    display: inline-block;
    @media screen and (max-width: 20em) {
      padding-bottom: 0.5rem;
    }
  }
  &__badge {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--color-grey-1);
    @media screen and (max-width: 25em) {
      padding: 0 0.5rem;
    }
  }
}

.shop-bump {
  animation: bump 300ms ease-out;
}

@keyframes shop-bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
