.shop-header {
  grid-column: full-start / full-end;
  display: grid;
  position: relative;
  overflow: hidden;
  &__content {
    width: 100vw;
    height: min-content;
    background-color: var(--color-primary-dark);
    color: var(--color-grey-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: relative;
  }
  &__image--content {
    margin: auto;
  }
  &__image {
    width: 60vw;
  }
}
