.countdown {
  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    @media screen and (max-width: 87.5em) {
      padding: 6rem 2rem;
    }
  }
  &__subheading {
    margin-bottom: 1vh;
  }
}
