.match-timer {
  &__container {
    background: radial-gradient(circle at 50% 50%, #0a19a1 0%, #0c22e8 100%);
    grid-column: col-start 3 / col-end 6;
    @media only screen and (max-width: 62.5em) {
      grid-column: full-start / full-end;
    }
  }
}
