.blue-navbar {
  &__container {
    background-color: var(--color-primary-dark);
    grid-column: tram-start / tram-end;
    display: flex;
    justify-content: end;
    align-items: center;
    @media only screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
    @media only screen and (max-width: 62.5em) {
      justify-content: center;
    }
  }
  &__div {
    margin: 0 2rem;
    cursor: pointer;
    @media only screen and (max-width: 25em) {
      margin: 0 1rem;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
    color: var(--color-grey-1);
    font-size: 1.6rem;
    text-decoration: none;
    max-width: min-content;
    & span {
      @media only screen and (max-width: 62.5em) {
        display: none;
      }
    }
  }
  &__icon {
    padding: 0 1rem;
    @media only screen and (max-width: 20em) {
      padding: 0 0.5rem;
    }
    color: var(--color-grey-1);
    font-size: 1.5rem;
    @media only screen and (max-width: 62.5em) {
      font-size: 2rem;
    }
  }
}
