.blue-navbar {
  &__container {
    background-color: var(--color-primary-dark);
    height: 6rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  &__div {
    margin: 0 2rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
    color: var(--color-grey-1);
    font-size: 1.6rem;
    text-decoration: none;
    max-width: min-content;
    & span {
      @media only screen and (max-width: 62.5em) {
        display: none;
      }
    }
  }
  &__icon {
    padding: 0 1rem;
    color: var(--color-grey-1);
    font-size: 2rem;
  }
}
