.marquee {
  &__container {
    grid-column: tram-start / tram-end;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 8rem;
    @media only screen and (max-width: 94em) {
      grid-column: full-start / full-end;
    }
  }
  &__content {
    white-space: nowrap;
    color: var(--color-grey-1);
    font-size: 2.5rem;
    animation: marquee 30s infinite linear;
    &:after {
      content: " Center midfielder Fabio Lombardy signs a permanent deal following a successful loan spell last season.";
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
